.whole{
    display: flex;
    width: 75%;
    margin: auto;
    padding: 30px;
}
#right-signup{
    width: 40%;
    text-align: left;
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}
#left-banner img{
    width: 110%;
}
